<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원로그인</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
     <div class="container-fluid">
       <a class="navbar-brand" href="/index">질문-답변 공개게시판</a>       
       <div class="collapse navbar-collapse">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/join}">회원가입</a>
          </li>
       </ul>
       </div>
     </div>
    </nav> 
	<div class="container my-3">
   		<div style="text-align: center">
			<h2>회원로그인</h2>
		</div>
   		<form th:action="@{/login}" method="post">
   			<!-- 경고창 -->
   			<div th:if="${param.error}">
   				<div class="alert alert-danger" >
   					로그인 실패! 아이디와 비밀번호를 확인해 주세요.
   				</div>
   			</div>
   			<!-- //경고창 -->
	   		<div class="mb-3">
				  <label class="form-label">사용자 ID</label>
				  <input type="text" class="form-control" name="username" placeholder="사용자 ID를 입력해주세요" >
			</div>
			<div class="mb-3">
				  <label class="form-label">비밀번호</label>
				  <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력해주세요" >
			</div>
			
			
			<input type="submit" value="로그인" class="btn btn-primary">
			<input type="text" value="취소" class="btn btn-secondary" onclick="window.open('list')" style="width:90px">

   		</form>
   </div>
   
</body>
</html>