<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>질문 내용 보기</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
     <div class="container-fluid">
       <a class="navbar-brand" href="/index">질문-답변 공개게시판</a>       
       <div class="collapse navbar-collapse">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
             <a class="nav-link" th:href="@{/login}">로그인</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" th:href="@{/join}">회원가입</a>
          </li>
       </ul>
       </div>
     </div>
    </nav> 
	<div class="container my-3">
		<!-- 질문내용 보기 -->
	   <h2 class="board-bottom py-2" th:text="${question.subject}"></h2>
		<div class="card my-3">
		   <div class="card-body">
			   <!--  <div th:text="${question.id}"></div>-->
			   <div class="card-text" style="white-space:pre-line" th:text="${question.content}"></div>
			   <div class="d-flex justify-content-end">
			   		<div class="badge bg-light text-info">
			   			<div th:text="${question.writer.username}"></div>
			   			<div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd hh:mm')}"></div>
			   		</div>
			   	</div>
			   	<div class="my-3">
			   		<a th:href="@{|/modify/${question.id}|}" th:text="수정" class="btn btn-primary my-2"></a>
			   		<a th:href="@{|/delete/${question.id}|}" th:text="삭제" class="btn btn-secondary my-2"></a>
			   	</div>	
		   </div>
		</div>
	   <!-- //질문내용 끝 -->

   			
	   <!-- 답변개수 출력 -->
	    	<h5 class="border-bottom my-3 py2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5><!-- #lists 함수 -->
	   <!-- //답변개수 출력끝 -->
	   
	   <!-- 답변내용반복 시작 -->
	   <div class="card my-3 py-2" th:each="answer:${question.answerList}" >
		   <div class="d-flex justify-content-end">
    			<div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
	                <div class="mb-2">수정한 시간 : </div>
	                <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
            	</div>
            </div>	
		   <div class=card-text"" th:text="${answer.content}"></div>
		     <div class="d-flex justify-content-end">
		    	<div class="badge bg-light text-info">
				   		<div th:text="'답변자 :' +${answer.writer.username}"></div>
			   			<div th:text="${#temporals.format(answer.createTime, 'yyyy-MM-dd hh:mm')}"></div>
			   		</div>
		 </div>	
		<div class="my-3">
			   		<a th:href="@{|/answerModify/${answer.id}|}" th:text="수정" class="btn btn-primary my-2"></a>
			   		<a th:href="@{|/answerDelete/${answer.id}|}" th:text="삭제" class="btn btn-secondary my-2"></a>
		</div>	
	   </div>
	   <!-- //답변내용반복끝 -->
	   
	   <form th:action="@{|/answerCreate/${question.id}|}" method="post" class="my-3" th:object="${answerForm}">
	   <!-- 답변검사 에러표시 경고창 -->
   		<div>
   			<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
   				<div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
   			</div>
		</div>
   	   <!-- //답변검사 에러표시 경고창  -->
	   <!-- 답변내용작성 -->
	   
	   		<textarea rows="10" cols="60" name="content" id="content" class="form-control" th:field="*{content}"> </textarea><br>
	   		<input type="submit" value="답변등록" id="answer_submit" class="btn btn-primary" >
	   </form>
	   <!-- //답변내용작성 -->
	</div>   
</body>
</html>